/* UserLogin.css */



  .cont {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    
  }
  
  .ulogin-bold {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ulogin-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .ulogin-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ulogin-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .ulogin-btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .ulogin-btn-primary:hover {
    background-color: #0056b3;
  }
  
  .ulogin-btn-success {
    background-color: #28a745;
    color: white;
    margin-top: 10px;
  }
  
  .ulogin-btn-success:hover {
    background-color: #218838;
  }
  
  .ulogin-message {
    margin: 10px 0;
  }
  
  .ulogin-otp-inputs {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
  
  .ulogin-otp-input {
    width: 20px;
    text-align: center;
  }
  
  @media (max-width: 480px) {
    .ulogin-main {
      padding: 10px;
    }
  
    .ulogin-input, .ulogin-button {
      width: 100%;
      box-sizing: border-box;
    }
  
    .ulogin-otp-inputs {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .ulogin-otp-inputs input {
      width: 18%;
      margin: 0 1%;
    }
  }